@using TRuDI.Backend.Components
@using TRuDI.Backend.Utils
@using TRuDI.HanAdapter.XmlValidation.Models
@using TRuDI.HanAdapter.XmlValidation.Models.BasicData
@model TRuDI.Backend.Components.OriginalValueListRange

<table class="table-condensed">
    <tr>
        <th>Zeitpunkt</th>
        <th>Wert</th>
        <th>Einheit</th>
        <th>Status</th>
    </tr>
    
    @foreach (var entry in Model.Items)
    {
        @if (entry.Value != null)
         {
             <tr>
                 <td>@entry.TimePeriod.Start</td>
                 <td>@entry.Value.GetDisplayValue(Model.Source.Uom, Model.Source.PowerOfTenMultiplier, Model.Source.Scaler)</td>
                 <td>@Model.Source.DisplayUnit</td>
                 <td>@entry.ToStatusString()</td>
             </tr>
        }
        else
        {
            <tr>
                <td>@entry.TimePeriod.Start</td>
                <td colspan="3"><span><i class="fa fa-warning"></i> kein Messwert vorhanden</span></td>
            </tr>
        }
    }

</table>
