@using System.Security.Cryptography.X509Certificates
@using TRuDI.Backend.Application
@using TRuDI.Backend.Utils;
@inject ApplicationState StateService
@{
    ViewData["Title"] = "Details zum Smart Meter Gateway";
}


<div class="panel panel-primary">
    <div class="panel-heading">Firmware-Version</div>
    <div class="panel-body">


        @if (StateService.LastConnectResult?.FirmwareVersions != null)
            {
            <table class="table">
                @foreach (var versionItem in StateService.LastConnectResult.FirmwareVersions)
                {
                    <tr>
                        <th>
                            @versionItem.Component
                        </th>
                        <td>
                            <div>
                                @versionItem.Version
                            </div>
                            @if (!string.IsNullOrWhiteSpace(versionItem.Hash))
                            {
                                <div>
                                    @versionItem.Hash
                                </div>
                            }
                        </td>
                    </tr>
                }

            </table>
        }

    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Zertifikat der TLS-Verbindung</div>
    <div class="panel-body">

        @if (StateService.LastConnectResult?.Certificate != null)
        {
            var cert = StateService.LastConnectResult?.Certificate;

            <table class="table">
                <tr>
                    <th>Ausgestellt für</th>
                    <td>@cert.GetNameInfo(X509NameType.SimpleName, true)</td>
                </tr>

                <tr>
                    <th>Ausgestellt von</th>
                    <td>@cert.GetNameInfo(X509NameType.SimpleName, false)</td>
                </tr>

                <tr>
                    <th>Gültigkeit</th>
                    <td>@cert.NotBefore bis @cert.NotAfter</td>
                </tr>

                <tr>
                    <th>Format</th>
                    <td>@cert.GetFormat()</td>
                </tr>

                <tr>
                    <th>Version</th>
                    <td>@cert.Version</td>
                </tr>

                <tr>
                    <th>Öffentlicher Schlüssel</th>
                    <td style="font-family: monospace;">@cert.GetPublicKeyString().AddLineBreak(32)</td>
                </tr>

                <tr>
                    <th>Serial Number</th>
                    <td>@cert.GetSerialNumberString()</td>
                </tr>

                <tr>
                    <th>Key Algorithm</th>
                    <td>@cert.GetKeyAlgorithm().OidToFriendlyName()</td>
                </tr>
                <tr>
                    <th>Hash</th>
                    <td style="font-family: monospace;">@cert.GetCertHashString().AddLineBreak(32)</td>
                </tr>

                <tr>
                    <th>Signature Algorithm</th>
                    <td>@cert.SignatureAlgorithm.FriendlyName</td>
                </tr>
            </table>
        }

    </div>
</div>

<a asp-action="Back">Zurück</a>

