@using TRuDI.Backend.Application
@using TRuDI.Backend.Utils
@using TRuDI.Models
@using TRuDI.Models.BasicData
@inject ApplicationState StateService
@{
    ViewData["Title"] = "Abrechnungsdaten";
    var originalValueLists = StateService.CurrentDataResult.OriginalValueLists;
    var meterReadings = StateService.CurrentDataResult;
}

<div class="panel panel-primary">
    <div class="panel-heading">Zählpunkt @StateService.CurrentDataResult.Model.UsagePointId</div>
    <div class="panel-body">

        @if (StateService.CurrentSupplierFile?.Model == null)
        {
            @await Html.PartialAsync("_SummaryHeaderDisplayFunctionPartial");
        }
        else
        {
            @await Html.PartialAsync("_SummaryHeaderTransparencyFunctionPartial");
        }
    </div>
</div>


<div>
    <ul class="nav nav-tabs" role="tablist">
        @if (StateService.CurrentSupplierFile?.TafData != null)
        {
            <li role="presentation" class="active"><a href="#tab_tariffdata" aria-controls="tab_tariffdata" role="tab" data-toggle="tab">Tarifdaten</a></li>
        }
       
        @if (originalValueLists.Count == 1)
        {
            var ovl = originalValueLists.First();
            <li role="presentation" class="@(StateService.CurrentSupplierFile?.TafData == null ? "active" : "")"><a href="#tab_hvl_@ovl.GetOriginalValueListIdent()" aria-controls="tab_hvl_@ovl.GetOriginalValueListIdent()" role="tab" data-toggle="tab">Historische Verbrauchswerte</a></li>
            <li role="presentation"><a href="#tab_@ovl.GetOriginalValueListIdent()" aria-controls="tab_@ovl.GetOriginalValueListIdent()" role="tab" data-toggle="tab">Originäre Messwertliste</a></li>
        }
        else
        {
            <li role="presentation" class="dropdown @(StateService.CurrentSupplierFile?.TafData == null ? "active" : "")">
                <a href="#" class="dropdown-toggle" id="tab-dropdown-hvl" data-toggle="dropdown" aria-controls="tab-dropdown-contents" aria-expanded="false">Historische Messwerte<span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="tab-dropdown-hvl" id="tab-dropdown-hvl-contents">
                    @foreach (var ovl in originalValueLists)
                    {
                        <li class="@(StateService.CurrentSupplierFile?.TafData == null && originalValueLists.First() == ovl ? "active" : "")"><a href="#tab_hvl_@ovl.GetOriginalValueListIdent()" id="#tab_hvl_@ovl.GetOriginalValueListIdent()-tab" aria-expanded="false" aria-controls="tab_hvl_@ovl.GetOriginalValueListIdent()" role="tab" data-toggle="tab">@ovl.Meter.ToFormattedDeviceId() (@ovl.Obis.ToString())</a></li>
                    }
                </ul>
            </li>

            <li role="presentation" class="dropdown">
                <a href="#" class="dropdown-toggle" id="tab-dropdown-ovl" data-toggle="dropdown" aria-controls="tab-dropdown-contents" aria-expanded="false">Originäre Messwertliste<span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="tab-dropdown-ovl" id="tab-dropdown-ovl-contents">
                    @foreach (var ovl in originalValueLists)
                    {
                        <li class=""><a href="#tab_@ovl.GetOriginalValueListIdent()" id="#tab_@ovl.GetOriginalValueListIdent()-tab" aria-expanded="false" aria-controls="tab_@ovl.GetOriginalValueListIdent()" role="tab" data-toggle="tab">@ovl.Meter.ToFormattedDeviceId() (@ovl.Obis.ToString())</a></li>
                    }
                </ul>
            </li>
        }

        <li role="presentation"><a href="#tab_logdata" aria-controls="tab_logdata" role="tab" data-toggle="tab">Logbuchdaten</a></li>
    </ul>

    <div class="tab-content">

        <div role="tabpanel" class="tab-pane" id="tab_logdata">
            <div class="panel panel-primary">
                <div class="panel-heading">Logbuchdaten</div>
                <div class="panel-body">

                    @if (StateService.CurrentDataResult.Model.LogEntries.Any())
                    {
                        var logBegin = StateService.CurrentDataResult.Model.LogEntries.First().LogEvent.Timestamp;
                        var logEnd = StateService.CurrentDataResult.Model.LogEntries.Last().LogEvent.Timestamp;
                        var logSelectedEnd = logEnd;
                        if ((logEnd - logBegin) > TimeSpan.FromDays(1))
                        {
                            logSelectedEnd = logBegin + TimeSpan.FromDays(1);
                        }

                        <table class="table-condensed">
                            <tr>
                                <th>
                                    Startzeitpunkt
                                </th>

                                <th>
                                    Endzeitpunkt
                                </th>

                                <th></th>
                                <th></th>
                            </tr>

                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class='input-group date' id="logStart">
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <div class='input-group date' id="logEnd">
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <div class='input-group date'>
                                            <input type='text' id="logFilterText" class="form-control" />
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default" id="btnRead" onclick="filterLog();">Filtern</button>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div id="log-table">
                            @await Component.InvokeAsync("LogItemsView", new { startTime = logBegin, endTime = logSelectedEnd })
                        </div>

                        <script type="text/javascript">
                            $(function() {
                                $("#logStart").datetimepicker({
                                    locale: 'de'
                                });
                                $("#logEnd").datetimepicker({
                                    useCurrent: false,
                                    locale: 'de',
                                });

                                $("#logStart").data("DateTimePicker").minDate(moment('@logBegin.ToIso8601()'));
                                $("#logStart").data("DateTimePicker").maxDate(moment('@logEnd.ToIso8601()'));
                                $("#logStart").data("DateTimePicker").date(moment('@logBegin.ToIso8601()'));

                                $("#logEnd").data("DateTimePicker").minDate(moment('@logBegin.ToIso8601()'));
                                $("#logEnd").data("DateTimePicker").maxDate(moment('@logEnd.ToIso8601()'));
                                $("#logEnd").data("DateTimePicker").date(moment('@logSelectedEnd.ToIso8601()'));
                            });

                            function filterLog() {

                                $.ajax({
                                    url: '/DataView/FilterLog',
                                    type: "POST",
                                    data: "startTime=" +
                                        encodeURIComponent($("#logStart").data("DateTimePicker").date().toISOString()) +
                                        "&endTime=" +
                                        encodeURIComponent($("#logEnd").data("DateTimePicker").date().toISOString()) +
                                        "&filterText=" +
                                        encodeURIComponent($("#logFilterText").val()),
                                    contentType: 'application/x-www-form-urlencoded',
                                    processData: false,
                                    success: function(result) {
                                        $("#log-table").html(result);
                                    },
                                    error: function(err) {}
                                });
                            };
                        </script>
                    }
                    else
                    {
                        <p>Keine Logbucheinträge verfügbar.</p>
                    }
                </div>
            </div>
        </div>



        @foreach (var ovl in originalValueLists)
        {
            var ovlBegin = ovl.Start;
            var ovlEnd = ovl.End;

            if (ovlBegin.Date == ovlEnd.Date)
            {
                ovlEnd = ovlBegin + TimeSpan.FromDays(1);
            }

            <div role="tabpanel" class="tab-pane" id="tab_@ovl.GetOriginalValueListIdent()">
                <div class="panel panel-primary">
                    <div class="panel-heading">Originäre Messwertliste @ovl.Meter.ToFormattedDeviceId() (@ovl.Obis.ToString())</div>
                    <div class="panel-body">

                        <table class="table">
                            <tr>
                                <th>Zähler</th>
                                <th>Messperiode</th>
                                <th>Register</th>
                                <th>Werte</th>
                            </tr>
                            <tr>
                                <td>@ovl.Meter.ToFormattedDeviceId()</td>
                                <td>@ovl.MeasurementPeriod.TotalSeconds Sekunden</td>
                                <td>@ovl.Obis.ToString()</td>
                                <td>@ovl.ValueCount</td>
                            </tr>

                            <tr>
                                <th>Startzeitpunkt</th>
                                <th>Endzeitpunkt</th>
                                <th>Lücken</th>
                                <th>Fehler</th>
                            </tr>

                            <tr>
                                <td>@ovl.Start.ToFormatedString()</td>
                                <td>@ovl.End.ToFormatedString()</td>
                                <td>
                                    @if (ovl.GapCount == 0)
                                    {
                                        <span>
                                            keine Lücken vorhanden
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            <i class="fa fa-warning"></i>
                                            @ovl.GapCount Lücken gefunden
                                        </span>
                                    }
                                </td>

                                <td>
                                    @if (!ovl.HasErrors)
                                    {
                                        <span>keine Fehler</span>
                                    }
                                    else
                                    {
                                        if (ovl.FatalErrorCount > 0)
                                        {
                                            <div>
                                                <span>
                                                    <i class="fa fa-times-circle"></i>
                                                    @ovl.FatalErrorCount @(ovl.FatalErrorCount == 1 ? "fataler Fehler" : "fatale Fehler")
                                                </span>
                                            </div>
                                        }

                                        if (ovl.TempError1Count > 0)
                                        {
                                            <div>
                                                <span>
                                                    <i class="fa fa-exclamation-circle"></i>
                                                    @(ovl.TempError1Count) @(ovl.TempError1Count == 1 ? "temporärer Fehler 1" : "temporäre Fehler 1")
                                                </span>
                                            </div>
                                        }

                                        if (ovl.TempError2Count > 0)
                                        {
                                            <div>
                                                <span>
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    @(ovl.TempError2Count) @(ovl.TempError2Count == 1 ? "temporärer Fehler 2" : "temporäre Fehler 2")
                                                </span>
                                            </div>
                                        }

                                        if (ovl.WarningCount > 0)
                                        {
                                            <div>
                                                <span>
                                                    <i class="fa fa-check-circle"></i>
                                                    @ovl.WarningCount @(ovl.WarningCount == 1 ? "Warnung" : "Warnungen")
                                                </span>
                                            </div>
                                        }
                                    }
                                </td>

                            </tr>
                        </table>

                        <table class="table-condensed">
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class='input-group date' id="dp_start_@ovl.GetOriginalValueListIdent()">
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default" id="btnFilterOvlErrors_@ovl.GetOriginalValueListIdent()" onclick="showErrorsList('@ovl.GetOriginalValueListIdent()');">Status-Übersicht anzeigen</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        
                        <div id="ovl_@ovl.GetOriginalValueListIdent()">
                            @await Component.InvokeAsync("OriginalValueListView", new { ovl, startTime = ovlBegin })
                        </div>

                        <script type="text/javascript">
                            $(function() {
                                $("#dp_start_@ovl.GetOriginalValueListIdent()").datetimepicker({
                                    locale: 'de',
                                    format: 'DD.MM.YYYY'
                                });

                                $("#dp_start_@ovl.GetOriginalValueListIdent()").on("dp.change", function (e) {
                                    loadOvlDay("@ovl.GetOriginalValueListIdent()");
                                });

                                $("#dp_start_@ovl.GetOriginalValueListIdent()").data("DateTimePicker").minDate(moment('@ovlBegin.Date.ToIso8601()'));
                                $("#dp_start_@ovl.GetOriginalValueListIdent()").data("DateTimePicker").maxDate(moment('@ovlEnd.ToIso8601()'));
                                $("#dp_start_@ovl.GetOriginalValueListIdent()").data("DateTimePicker").date(moment('@ovlBegin.Date.ToIso8601()'));
                            });
                        </script>

                    </div>
                </div>
            </div>
        }

        <script type="text/javascript">

                            function loadOvlDay(ovlId) {
                                $.ajax({
                                    url: '/DataView/FilterOvl',
                                    type: "POST",
                                    data: "startTime=" +
                                    encodeURIComponent($("#dp_start_" + ovlId).data("DateTimePicker").date().toISOString()) +
                                    "&ovlId=" +
                                    encodeURIComponent(ovlId),
                                    contentType: 'application/x-www-form-urlencoded',
                                    processData: false,
                                    success: function (result) {
                                        $("#ovl_" + ovlId).html(result);
                                    },
                                    error: function (err) { }
                                });
                            };

                            function selectOvlDay(ovlId, timestamp) {
                                var currentDate = $("#dp_start_" + ovlId).data("DateTimePicker").date();
                                if (currentDate.isSame(timestamp)) {
                                    loadOvlDay(ovlId);
                                } else {
                                    $("#dp_start_" + ovlId).data("DateTimePicker").date(timestamp);    
                                }
                            };

                            function showErrorsList(ovlId) {
                                $.ajax({
                                    url: '/DataView/ShowErrorsList',
                                    type: "POST",
                                    data: "ovlId=" + encodeURIComponent(ovlId),
                                    contentType: 'application/x-www-form-urlencoded',
                                    processData: false,
                                    success: function (result) {
                                        $("#ovl_" + ovlId).html(result);
                                    },
                                    error: function (err) { }
                                });
                            };

        </script>



        @foreach (var ovl in originalValueLists)
        {
            <div role="tabpanel" class="tab-pane @(StateService.CurrentSupplierFile?.TafData == null && originalValueLists.First() == ovl ? "active" : "")" id="tab_hvl_@ovl.GetOriginalValueListIdent()">
                <div class="panel panel-primary">
                    <div class="panel-heading">Historische Verbrauchswerte @ovl.Meter.ToFormattedDeviceId() (@ovl.Obis.ToString())</div>
                    <div class="panel-body">
                        <div id="hvl_@ovl.Meter">
                            @await Component.InvokeAsync("HistoricValueListView", new { ovl })
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (StateService.CurrentSupplierFile?.TafData?.Data != null)
        {
            <div role="tabpanel" class="tab-pane active" id="tab_tariffdata">
                <div class="panel panel-primary">
                    <div class="panel-heading">Tarifdaten</div>
                    <div class="panel-body">
                        @await Component.InvokeAsync(StateService.CurrentSupplierFile?.TafData.DetailView.Name)
                    </div>
                </div>
            </div>
        }

    </div>
</div>
